 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
    }

    .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      padding: 60px 20px;
      text-align: center;
      background-size: cover;
      background-position: center;
      color: white;
    }

    .section1 {
      background-image: url("./img/images1.jfif");
      height: 98vh;
      margin: 1vh;
    }

    .section2 {
      background-image: url("./img/images2.jfif");
      height: 98vh;
      margin: 1vh;
    }

    .section3 {
      background-image: url("./img/images3.jfif");
      height: 98vh;
      color: black;
      background-blend-mode: lighten;
      padding: 0px;
      margin: 1vh;
    }

    h1 {
      font-size: 48px;
      margin-bottom: 10px;
      text-shadow: 2px 2px 5px black;
    }

    h2 {
      font-size: 32px;
      color: #f0f0f0;
      margin-bottom: 30px;
      text-shadow: 1px 1px 3px black;
    }

    .subscribe input[type="email"] {
      padding: 10px;
      width: 60%;
      border: none;
      border-radius: 4px;
      margin-right: 10px;
    }

    .subscribe button {
      padding: 10px 20px;
      border: none;
      background-color: #fff;
      color: #111;
      cursor: pointer;
      border-radius: 4px;
      font-weight: bold;
    }

    footer {
      margin-top: 40px;
      font-size: 14px;
    }

    .footer-section { 
      margin-bottom: 20px;
      color: #fff;
      display: inline-block;
      padding: 10px;
      border-radius: 8px;
    }

    .sec1{
        height: 60%;
    }
    
    .sec{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 40%;
        background-color: #111;
        width: 100%;
        text-align: center;
    }